<!DOCTYPE html>
<html>
<head>
    <title>Register ATM User</title>
</head>
<body>
    <h2>New User Registration</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Card Number:</label><br>
        <input type="text" name="card_num" required><br><br>

        <label>PIN:</label><br>
        <input type="password" name="atmcard_pin" required><br><br>

        <label>Holder Name:</label><br>
        <input type="text" name="cardholder_name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br><br>

        <label>Initial Balance:</label><br>
        <input type="number" name="balance" step="0.01" required><br><br>

        <input type="submit" value="Register">
    </form>

    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
</body>
</html>
